* {
  box-sizing: border-box;
}

.container-cv {
  height: 100vh;
  border-top: 5px solid #bd1e51;
}

.positionning-div-cv {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #bd1e51;
  color: white;
  font-weight: 600;
}

/* content */

.content-cv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  font-size: 1.2rem;
}

/* contenants */

.experience {
  height: 650px;
  border: 1px solid black;
  width: 40%;
  margin: 1rem;
  padding: 1rem;
  color: white;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

.formation {
  height: 650px;
  border: 1px solid black;
  width: 40%;
  margin: 1rem;
  padding: 1rem;
  color: white;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

.soft-skills {
  height: 650px;
  border: 1px solid black;
  width: 40%;
  margin: 1rem;
  padding: 1rem;
  color: white;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
}

/* contenu */

.cvenligne-title {
  background-color: white;
  color: black;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid black;
}

.cvenligne-description {
  color: black;
  border-radius: 10px;
  padding: 1rem;
  border: 1px solid black;
  margin-top: 1rem;
  height: 80%;
  flex: 1;
  background-color: white;
}
