* {
  box-sizing: border-box;
}

.container-realisations {
  height: 100vh;
}

.positionning-div-realisations {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #f1b814;
  color: white;
  font-weight: 600;
}

/* box realisation */

.content-realisations {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
  margin-top: 1rem;
  height: 70%;
}

.resize-image {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  width: 500px;
  height: 300px;
}

.realisation-box {
  width: 500px;
  height: 300px;
  margin: 1rem;
}

.container-hover {
  position: relative;
  width: 500px;
  height: 300px;
}

.container-hover:hover .color-me {
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.color-me {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #490b3d;
  font-size: 1.3rem;
  width: 500px;
  height: 200px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  text-align: center;
}

@media (max-width: 375px) {
  .content-realisations {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
    margin: 0 auto;
    margin-top: 1rem;
    height: auto;
  }

  .resize-image {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    width: 300px;
    height: 200px;
  }

  .realisation-box {
    width: 300px;
    height: 200px;
    margin: 1rem;
  }
  .container-hover {
    position: relative;
    width: 300px;
    height: 200px;
  }

  .positionning-div-realisations {
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: #f1b814;
    color: white;
    font-weight: 600;
    margin-top: 1rem;
  }

  .container-realisations {
    height: auto;
  }

  .color-me {
    display: none;
    position: static;
    left: 0;
    bottom: 0;
    color: #490b3d;
    font-size: 1.3rem;
    width: 500px;
    height: 200px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
    text-align: center;
  }
}
