* {
  box-sizing: border-box;
}

.container-realisations {
  height: 100vh;
  border-top: 5px solid #f1b814;
}

.positionning-div-realisations {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #f1b814;
  color: white;
  font-weight: 600;
}

/* box realisation */

.content-realisations {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
  margin-top: 1rem;
  overflow-y: scroll;
  height: 70%;
}

.resize-image {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  width: 500px;
  height: 300px;
}

.realisation-box {
  width: 500px;
  height: 300px;
}

.container-hover {
  position: relative;
  width: 500px;
  height: 300px;
}

.container-hover:hover .color-me {
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.color-me {
  position: absolute;
  left: 0;
  top: 0;
  color: #490b3d;
  font-size: 1.5rem;
  width: 500px;
  height: 300px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
}
