.container-footer {
  height: 10vh;
  border-top: 5px solid #bd1e51;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.copyright {
  font-size: 1.2rem;
}
.linkedin-logo {
  max-width: 100%;
  width: 50px;
  margin-left: 3rem;
  cursor: pointer;
}

.linkedin-logo:hover {
  padding: 3px;
  transition: 0.1s;
}

.cv-link {
  margin-left: 3rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
  padding: 1rem;
  border-radius: 10px;
  transition: 0.3s;
}

.cv-link:hover {
  text-decoration: underline;
  background-color: #bd1e51;
  color: white;
}

@media (max-width: 375px) {
  .container-footer {
    height: auto;
    border-top: 5px solid #bd1e51;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .copyright {
    font-size: 1rem;
  }
  .linkedin-logo {
    max-width: 100%;
    width: 50px;
    margin-left: 0;
    cursor: none;
  }

  .cv-link {
    margin-left: 0;
    font-size: 1rem;
    text-decoration: none;
    color: black;
    padding: 1rem;
    border-radius: 10px;
    transition: 0.3s;
  }

  .cv-link:hover {
    text-decoration: underline;
    background-color: #bd1e51;
    color: white;
  }
}
