.container-jobtitle {
  height: 90vh;
  border-top: 5px solid #490b3d;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-jobtitle {
  width: 60%;
  background-color: white;
  padding: 5rem;
  border-radius: 10px;
  font-size: 1.2rem;
  line-height: 2;
}

@media (max-width: 375px) {
  .container-jobtitle {
    height: auto;
    background-color: #490b3d;
    margin-top: 0;
  }
  .content-jobtitle {
    width: 100%;
    background-color: white;
    padding: 1rem;
    border-radius: 0px;
  }
  .introduction-jobtitle {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 400;
  }
  .paragraphe-jobtitle {
  }
}

.oclock {
  color: #0ac3a7;
  text-decoration: none;
}
