.container-jobtitle {
  height: 90vh;
  border-top: 5px solid #490b3d;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 375px) {
  .container-jobtitle {
    height: 100vh;
    background-color: #490b3d;
    margin-top: 0vh;
  }
}
