.container-jobtitle {
  height: 100vh;
  background-color: rgb(255, 255, 187);
  margin-top: 10vh;
}

.positionning-div-jobtitle {
  height: 10vh;
}

@media (max-width: 375px) {
  .container-jobtitle {
    height: 100vh;
    background-color: rgb(255, 255, 187);
    margin-top: 0vh;
  }
}
