* {
  box-sizing: border-box;
}

/* navbar  */

.grid-container-navbar {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "navbar-name navbar-realisation navbar-cvenligne navbar-contact";
  height: 10vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
}

.navbar-name {
  grid-area: navbar-name;
}

.navbar-realisation,
.navbar-cvenligne,
.navbar-contact {
  grid-area: navbar-realisation;
  border-radius: 5px;
  background-color: green;
  width: 50%;
  text-align: center;
  padding: 1rem;
  color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
  cursor: pointer;
}

.navbar-realisation:hover {
  background-color: white;
  color: green;
}
.navbar-cvenligne:hover {
  background-color: white;
  color: green;
}
.navbar-contact:hover {
  background-color: white;
  color: green;
}

@media (max-width: 375px) {
  .grid-container-navbar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px 0px;
    grid-template-areas:
      "navbar-name"
      "navbar-realisation"
      "navbar-cvenligne"
      "navbar-contact";
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    width: 100%;
    position: static;
  }
  .navbar-name {
    grid-area: navbar-name;
    width: 100%;
    text-align: center;
    color: green;
    font-size: 1.4rem;
  }
  .navbar-realisation {
    grid-area: navbar-realisation;
    width: 100%;
    background-color: white;
    color: green;
    border-radius: 5px;
    border: 1px solid black;
  }
  .navbar-cvenligne {
    grid-area: navbar-cvenligne;
    width: 100%;
    background-color: white;
    color: green;
    border-radius: 5px;
    border: 1px solid black;
  }
  .navbar-contact {
    grid-area: navbar-contact;
    width: 100%;
    background-color: white;
    color: green;
    border-radius: 5px;
    border: 1px solid black;
  }
}
