* {
  box-sizing: border-box;
}

.container-background {
  background-color: #f7f7f7;
  overflow: auto;
}

/* navbar  */

.grid-container-navbar {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "navbar-name navbar-realisation navbar-cvenligne navbar-contact";
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  box-sizing: border-box;
  align-content: center;
  padding: 1rem;
  overflow: hidden;
  top: 0;
  width: 100%;
  position: fixed;
  height: 10vh;
}

.navbar-name {
  grid-area: navbar-name;
  color: #490b3d;
  font-size: 1.3rem;
  margin-left: 3rem;
}

.navbar-realisation,
.navbar-cvenligne,
.navbar-contact {
  grid-area: navbar-realisation;
  border-radius: 10px;
  width: 50%;
  text-align: center;
  padding: 1rem;
  color: #490b3d;
  text-transform: uppercase;
  font-size: 1.3rem;
  cursor: pointer;
  width: 70%;
  transition: 0.3s;
}

.navbar-realisation:hover {
  background-color: #490b3d;
  color: white;
  text-decoration: underline;
}
.navbar-cvenligne:hover {
  background-color: #490b3d;
  color: white;
  text-decoration: underline;
}
.navbar-contact:hover {
  background-color: #490b3d;
  color: white;
  text-decoration: underline;
}

@media (max-width: 375px) {
  .grid-container-navbar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px 0px;
    grid-template-areas:
      "navbar-name"
      "navbar-realisation"
      "navbar-cvenligne"
      "navbar-contact";
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    width: 100%;
    position: static;
  }
  .navbar-name {
    grid-area: navbar-name;
    width: 100%;
    text-align: center;
    color: green;
    font-size: 1.4rem;
  }
  .navbar-realisation {
    grid-area: navbar-realisation;
    width: 100%;
    background-color: white;
    color: green;
    border-radius: 5px;
    border: 1px solid black;
  }
  .navbar-cvenligne {
    grid-area: navbar-cvenligne;
    width: 100%;
    background-color: white;
    color: green;
    border-radius: 5px;
    border: 1px solid black;
  }
  .navbar-contact {
    grid-area: navbar-contact;
    width: 100%;
    background-color: white;
    color: green;
    border-radius: 5px;
    border: 1px solid black;
  }
  .App {
    width: 100%;
    margin: 0 auto;
  }
}

.greying-out {
  background-color: rgb(230, 230, 230);
  transition: 1s;
}
