* {
  box-sizing: border-box;
}

.container-stack {
  height: 100vh;
  border-top: 5px solid #bd1e51;
}

.positionning-div-stack {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  background-color: #bd1e51;
  color: white;
  font-weight: 600;
}

/* layout stack */

.stacks {
  display: flex;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 0px;
  grid-template-areas:
    "front-end back-end frameworks others"
    "html Node-Js material-ui git"
    "react express-js flat-ui npm"
    "redux sequelize grid slack"
    "scss postgresql . github";
  place-items: center center;
  width: 60%;
}

.front-end {
  grid-area: front-end;
  font-size: 1.3rem;
  font-weight: 600;
  color: black;
  border-radius: 10px;
  padding: 1rem;
  background-color: rgb(238, 238, 238);
}

.back-end {
  grid-area: back-end;
  font-size: 1.3rem;
  font-weight: 600;
  color: black;
  border-radius: 10px;
  padding: 1rem;
  background-color: rgb(238, 238, 238);
}

.others {
  grid-area: others;
  font-size: 1.3rem;
  font-weight: 600;
  color: black;
  border-radius: 10px;
  padding: 1rem;
  background-color: rgb(238, 238, 238);
}

.frameworks {
  grid-area: frameworks;
  font-size: 1.3rem;
  font-weight: 600;
  color: black;
  border-radius: 10px;
  padding: 1rem;
  background-color: rgb(238, 238, 238);
}

.logo-box {
  background-color: rgb(238, 238, 238);
  padding: 0.2rem 1rem;
  border-radius: 10px;
}

.html {
  grid-area: html;
}

.react {
  grid-area: react;
}

.redux {
  grid-area: redux;
}

.scss {
  grid-area: scss;
}

.Node-Js {
  grid-area: Node-Js;
}

.express-js {
  grid-area: express-js;
}

.sequelize {
  grid-area: sequelize;
}

.postgresql {
  grid-area: postgresql;
}

.material-ui {
  grid-area: material-ui;
}

.flat-ui {
  grid-area: flat-ui;
}

.git {
  grid-area: git;
}

.npm {
  grid-area: npm;
}

.slack {
  grid-area: slack;
}

.github {
  grid-area: github;
}

.grid {
  grid-area: grid;
}

.added-styling {
  border-radius: 10px;
  padding: 0.1rem;
  transition: 0.2s;
}

.added-styling:hover {
  padding: 0.6rem;
}

/* images */

.miniature {
  min-width: 100%;
  max-width: 100%;
  width: 90px;
}

.height-icon {
  height: 80px;
}

.logo-caption {
  text-align: center;
  text-transform: uppercase;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  font-weight: 600;
}

@media (max-width: 375px) {
  .grid-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }

  .grid-container > div {
    margin: 0 auto;
  }

  .container-stack {
    height: auto;
    border-top: 5px solid #bd1e51;
    margin-bottom: 2rem;
  }

  .positionning-div-stack {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: #bd1e51;
    color: white;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .logo-box {
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
  }

  .front-end {
    display: none;
  }
  .back-end {
    display: none;
  }
  .others {
    display: none;
  }
  .frameworks {
    display: none;
  }
}
